Redirect /concerts/ http://ayo.org.nz/#2015series
Redirect /aboutus/ http://ayo.org.nz/#about
Redirect /players/ http://ayo.org.nz/#players
Redirect /history/ http://ayo.org.nz/#join
Redirect /alumni/ http://ayo.org.nz/#about
Redirect /gallery/ http://ayo.org.nz/#about
Redirect /sponsors/ http://ayo.org.nz/#support
Redirect /donate/ http://ayo.org.nz/#support
Redirect /joinus/ http://ayo.org.nz/#join
Redirect /contact/ http://ayo.org.nz/#contact
Redirect /scholarships/ http://ayo.org.nz/#about

AddType image/svg+xml .svg .svgz
AddEncoding x-gzip .svgz

RewriteEngine On
RewriteRule ^$ /newworld/ [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /newworld/$1 [L]
