body{
  font-family:'Candara', sans-serif;
  background:#fff;
  margin:0;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.popupBacking{
  background-color:#000;
  opacity:0.7;
  z-index:9;
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.popup{
  background:#fff;
  border-radius:2px;
  z-index:10;
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  width:800px;
  height:500px;
  max-width:100%;
  max-height:100%;
}

.popuppadded{
  padding:1.5%;
  max-width:97%;
  max-height:97%;
  overflow:auto;
}

.whiteclosepopup, .blackclosepopup{
  position:absolute;
  top:10px;
  right:10px;
  width:15px;
  height:15px;
  background: url(arrows.png);
  z-index:3;
  cursor:pointer;
}

.whiteclosepopup{
  background-position: -70px 0;
}

.blackclosepopup{
  background-position: -70px -45px;
}









h2{
  color:#0A3E7B;
  font-weight:normal;
  font-size:2.5em;
}

h3{
  color:#0A3E7B;
  font-weight:normal;
  font-size:1.5em;
}

#hero{
  background:#0A3E7B;
  background:radial-gradient(circle at 50% 100%, #4A7EEB, #0A3E7B);
  color:#fff;
  position:relative;
  overflow:hidden;
}

#hero .logocontainer{
  width:235px;
  height:50px;
  position:absolute;
  left:0;
  right:0;
  top:20px;
  margin:0 auto;
}

#hero .logo{
  display:inline-block;
  position:relative;
  width:138px;
  height:50px;
  -webkit-animation: logoleft 1s;
  animation: logoleft 1s;
  background: url(ayologopath.png) 0 0;
}

@-webkit-keyframes logoleft {
  from { -webkit-transform: translate(68px); }
  to { -webkit-transform: translate(0); }
}

@keyframes logoleft {
  from { -webkit-transform: translate(69px); }
  to { -webkit-transform: translate(0px); }
}


#hero .smalllogotext{
  display:inline-block;
  position:relative;
  width:92px;
  height:50px;
  -webkit-animation: logoright 1s;
  animation: logoright 1s;
  background: url(ayologopath.png) -138px 0;
}

@-webkit-keyframes logoright {
  from { -webkit-transform: translate(-69px); opacity:0; }
  to { -webkit-transform: translate(0px); opacity:1; }
}
@keyframes logoright {
  from { transform: translate(-69px); opacity:0; }
  to { transform: translate(0px); opacity:1; }
}



#hero .midsumtext{
  font-size:5em;
  position:absolute;
  text-align:center;
  margin:0;
  padding:0;
  width:100%;
  -webkit-animation: midsumtext 2s;
  animation: midsumtext 2s;
  bottom:50%;
}

@-webkit-keyframes midsumtext {
  0% { bottom:0; opacity:0;}
  50% { bottom:0; opacity:0;}
  100% { bottom: 50%; opacity:1;}
}
@keyframes midsumtext {
  0% { bottom:0; opacity:0;}
  50% { bottom:0; opacity:0;}
  100% { bottom: 50%; opacity:1;}
}

#hero .rays{
  position:absolute;
  background: url(rays.svg);
  background-size:100%;
  width:2000px;
  height:2000px;
  bottom:-1000px;
  left:50%;
  margin-left:-1000px;
  -webkit-animation: spin 90s linear infinite;
  animation: spin 90s linear infinite;
}

#hero .cloud{
  background: url(Cloud01.svg);
  background-size: 400px 400px;
  height:400px;
  width:400px;
  margin-left:-200px;
  margin-bottom:-200px;
  position:absolute;
  -webkit-animation: rot 5s linear infinite;
  animation: rot 5s linear infinite;
}

#hero #cloud1{
  left:25%;
  bottom:20px;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
}
#hero #cloud2{
  left:40%;
  bottom:70px;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
}
#hero #cloud3{
  left:60%;
  bottom:30px;
  -webkit-animation-duration: 8s;
  animation-duration: 8s;
}
#hero #cloud4{
  left:75%;
  bottom:50px;
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
}

@-webkit-keyframes rot {
  from {
    -webkit-transform: rotate(0deg)
               translate(-10px)
               rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg)
               translate(-10px)
               rotate(-360deg);
  }
}
@keyframes rot {
  from {
    transform: rotate(0deg)
               translate(-10px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-10px)
               rotate(-360deg);
  }
}


@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.concerts{
  height:100px;
  width:100%;
  bottom:0;
  position:absolute;
  color:#000;
}

.concerts ul{
  list-style-type:none;
  padding:0;
  margin:0 auto;
  max-width:900px;
  -webkit-animation: concertsFadeIn 3s;
}

@-webkit-keyframes concertsFadeIn {
  0% { opacity:0;}
  66% { opacity:0;}
  100% { opacity:1;}
}

.concerts ul li{
  float:left;
  width:25%;
  text-align:center;
}

.concerts .town{
  display:block;
  font-size:2em;
  margin-bottom:5px;
}

.concerts .location{
  display:block;
  margin-bottom:5px;
}

.concerts .time{
  display:block;
  font-size:1.3em;
}

@media all and (max-width: 700px) {

  #hero .midsumtext{
    font-size:3.5em;
  }
  .concerts ul li{
    float:none;
    width:auto;
  }
  .concerts{
    height:auto;
  }
  .concerts .town, .concerts .location, .concerts .time{
    display:inline-block;
    font-size:1.5em;
  }
  .concerts .town{
    font-weight:bold;
  }
}



















.fixedtop{
  position:absolute;
  width:100%;
  z-index:8;
}

.fixedtop ul{
  list-style-type:none;
  padding:0;
}

.fixedtop ul li{
  float:right;
  margin-left:20px;
  cursor:pointer;
}

.fixedtop ul li.left{
  float:left;
  margin:0 20px 0 0;
}

.fixed {
    position:fixed;
    top:0;
}

@media all and (max-width: 700px) {
  .fixedtop ul li{
    display:none;
  }

  .fixedtop ul li.left{
    display:block;
  }
}



.section{
  max-width:900px;
  margin:0 auto;
  padding:10px 10px 20px 10px;
  line-height:120%;
}

.sectionnopadbottom{
  padding-bottom:10px;
}

.lightbluebg{
  background:#4A7EEB;
  color:#fff;
}

.vlbluebg{
  background:#F0F5FF;
}

ul{
  margin:0;
}


a{
  color:#4A7EEB;
  text-decoration:none;
}

a:hover{
  text-decoration:underline;
}

.lightbluebg a{
  color:#fff;
  text-decoration:underline;
}

.lightbluebg a:hover{
  text-decoration:none;
}

.pullquote{
  width:300px;
  float:right;
  font-size:1.3em;
  display:block;
  line-height:120%;
}

.expanderdown{
  list-style-type:none;
  padding:0;
}

.programme{
  margin-right:350px;
}

@media all and (max-width: 700px) {
  .pullquote {
    float: none;
    width: auto;
  }

  .programme{
    margin-right:0;
  }
}

.expanderdown li .detailscontainer{
  height:0;
  overflow:hidden;
  transition:all .2s;
}

.expanderdown li {
  border-bottom:1px solid #0A3E7B;
}

.expanderdown li .head{
  cursor:pointer;
  font-size:1.3em;
  padding:10px 0 10px 0;
}

.expanderdown li .head:hover{
  color:#4A7EEB;
}

.expanderdown li.revael .head{
  color:#0A3E7B;
}

.expanderdown .head .composer{
  font-weight:bold;
}

.expanderdown li .details{
  padding-bottom:10px;
}

.expanderdown p{
  margin:0 10px 0 0;
}

.orchestra .fourcolumn{
  float:left;
  width:25%;
}

.orchestra ul{
  list-style-type:none;
  padding:0;
}

.orchestra ul li{
  margin-bottom:5px;
}

.orchestra ul li.hasdetails:hover{
  cursor:pointer;
  color:#4A7EEB;
}

.orchestra ul li.instrument{
  font-weight:bold;
  margin:20px 0 10px 0;
  color:#000;
}

.orchestra .orchpopup .orchpopupname{
  margin:10px 0 20px 0;
}

.orchestra .orchpopup .orchpopupimg{
  float:left;
  margin:0 10px 10px 0;
  max-width:350px;
  max-height:350px;
}

.rightphoto{
  float:right;
  margin:0 5px 0 15px;
  width:300px;

}

.rightphoto .photo{
  width:300px;
}

.rightphoto:hover .photo{
  opacity:0.6;
}

.rightphoto .cap{
  margin:0;
  text-align:center;
}

.aboutus .gallerypopup{
  width:900px;
  height:504px;
  padding-top:2px;
  background-color:#000;
  max-width:100%;
}

.aboutus .showGallery{
  cursor:pointer;
}

.aboutexpander{
  margin-right:350px;
}

.columntwo{
  width:49%;
  padding-right:1%;
  float:left;
}

.columntwo > p{
  margin-top:0;
}

.futureconcerts .ticketList{
  list-style-type:none;
  padding:0;
}

.futureconcerts .ticketList li {
  border-bottom:1px solid #0A3E7B;
  margin-top:5px;
}



.supporters .majorsupporters{
  list-style-type:none;
  padding:0;
}

.supporters .majorsupporters li{
  float:left;
  width:33%
}

.supporters .majorsupporters li img{
  max-width:100%;
  height:100px;
}


.footer{
  min-height:100px;
}

.footer ul{
  list-style-type:none;
  padding:0;
}

.footer ul li{
  float:left;
  width:16.6%;
}

@media all and (max-width: 700px) {
  .footer ul li {
    float: none;
  }
}















.historygallery{
  float:right;
  margin:0 5px 0 15px;
}

.historygallery .gallery{
  width:300px;
  height:452px;
}

.historygallerytitle{
  display:block;
  text-align:center;
  width:300px;
}

.historygallery img{
  width:100%;
}

.gallerypopup .gallery{
  width:900px;
  max-width:100%;
  height:500px;
}

@media all and (max-width: 700px) {
  .historygallery {
    float: none;
  }

  .showGallery {
    float: none;
  }

  .aboutexpander{
    margin-right:0;
  }
}





.gallery{
  position:relative;
  overflow:hidden;
}

.gallery .imgcontainer{
  position:relative;
  width:100%;
  height:100%;
}

.gallery .next, .gallery .prev{
  display:block;
  position:absolute;
  top:50%;
  margin-top:-30px;
  width: 30px;
  height: 60px;
  background: url(arrows.png);
  cursor:pointer;
}

.gallery .prev{
  left:10px;
  background-position: 0 0;
}

.gallery .next{
  right:10px;
  background-position: -35px 0;
}

.gallery img{
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  opacity:0;
  transition:opacity .3s;
}
