body{
  font-family:sans-serif;
  background:#fff;
  margin:0;
}

#welcomescreen{
  background:#0A3E7B;
  color:#fff;
  position:relative;
}

#welcomescreen .logo{
  font-size:6em;
  display:inline-block;
  position:absolute;
  font-weight:bold;
}

#welcomescreen .midsumtext{
  font-size:3em;
  width:400px;
  position:absolute;
  text-align:center;
  margin:0;
  padding:0;
}

#welcomescreen .boxContainer{
  position:absolute;
  width:100%;
  overflow:hidden;
  left:0;
  top:75%;
}

#welcomescreen .box{
  background: url(Cloud01.svg);
  background-size: 96px 96px;
  height:96px;
  width:96px;
  position:relative;
  -webkit-animation: cloudmove 50s linear infinite; /* Chrome, Safari, Opera */
}

@-webkit-keyframes cloudmove {
  0%   {left:100%;}
  100% {left:-96px;}

}
