body{
  font-family:'Candara', sans-serif;
  background:#fff;
  margin:0;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

.popupBacking{
  background-color:#4A7EEB;
  opacity:0.7;
  z-index:9;
  display:none;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

.popup{
  background:#fff;
  border-radius:2px;
  z-index:10;
  display:none;
  position:fixed;
  top:15%;
  bottom:15%;
  width:800px;
  max-width:100%;
}

h2{
  color:#0A3E7B;
  font-weight:normal;
  font-size:2.5em;
}

#hero{
  background:#0A3E7B;
  background:radial-gradient(circle at 50% 100%, #4A7EEB, #0A3E7B);
  color:#fff;
  position:relative;
  overflow:hidden;
}

#hero .logo{
  font-size:4em;
  display:inline-block;
  position:absolute;
  font-weight:bold;
  right:50%;
  width:138px;
  -webkit-animation: logoleft 1s;
  top:20px;
}

@-webkit-keyframes logoleft {
  from { transform: translate(69px); }
  to { transform: translate(0px); }
}


#hero .smalllogotext{
  display:inline-block;
  position:absolute;
  font-size:1.05em;
  margin-top:1px;
  margin-left:10px;
  left:50%;
  top:20px;
  -webkit-animation: logoright 1s;
}

@-webkit-keyframes logoright {
  from { transform: translate(-69px); opacity:0; }
  to { transform: translate(0px); opacity:1; }
}


#hero .midsumtext{
  font-size:5em;
  position:absolute;
  text-align:center;
  margin:0;
  padding:0;
  width:100%;
  -webkit-animation: midsumtext 2s;
  bottom:50%;
}

@-webkit-keyframes midsumtext {
  0% { bottom:0; opacity:0;}
  50% { bottom:0; opacity:0;}
  100% { bottom: 50%; opacity:1;}
}

#hero .rays{
  position:absolute;
  background: url(rays.svg);
  background-size:100%;
  width:2000px;
  height:2000px;
  bottom:-1000px;
  left:50%;
  margin-left:-1000px;
  -webkit-animation: spin 90s linear infinite;
}

#hero .cloud{
  background: url(Cloud01.svg);
  background-size: 400px 400px;
  height:400px;
  width:400px;
  margin-left:-200px;
  position:absolute;
  -webkit-animation: rot 5s linear infinite;
}

#hero #cloud1{
  left:25%;
  top:415px;
  -webkit-animation-duration: 6s;
}
#hero #cloud2{
  left:40%;
  top:385px;
  -webkit-animation-duration: 12s;
}
#hero #cloud3{
  left:60%;
  top:450px;
  -webkit-animation-duration: 8s;
}
#hero #cloud4{
  left:75%;
  top:400px;
  -webkit-animation-duration: 10s;
}

@-webkit-keyframes rot {
  from {
    transform: rotate(0deg)
               translate(-10px)
               rotate(0deg);
  }
  to {
    transform: rotate(360deg)
               translate(-10px)
               rotate(-360deg);
  }
}

@-webkit-keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

























.fixedtop{
  position:absolute;
  width:100%;
  z-index:8;
}

.fixedtop ul{
  list-style-type:none;
  padding:0;
}

.fixedtop ul li{
  float:right;
  margin-left:20px;
}

.fixed {
    position:fixed;
    top:0;
}



.section{
  max-width:900px;
  margin:0 auto;
  padding:10px 0;
}

.lightbluebg{
  background:#4A7EEB;
  color:#fff;
}

ul{
  margin:0;
}

.concerts{
  height:100px;
  width:100%;
  bottom:0;
  position:absolute;
  color:#000;
}

.concerts ul{
  list-style-type:none;
  padding:0;
  margin:0 auto;
  max-width:900px;
  -webkit-animation: concertsFadeIn 3s;
}

@-webkit-keyframes concertsFadeIn {
  0% { opacity:0;}
  66% { opacity:0;}
  100% { opacity:1;}
}

.concerts ul li{
  float:left;
  width:25%;
  text-align:center;
}

.concerts .town{
  display:block;
  font-size:2em;
  margin-bottom:5px;
}

.concerts .location{
  display:block;
  margin-bottom:5px;
}

.concerts .time{
  display:block;
  font-size:1.3em;
}

.pullquote{
  width:300px;
  float:right;
  font-size:2em;
  display:block;
}

.programme{
  list-style-type:none;
  padding:0;
  margin-right:350px;
}

.programme li .detailscontainer{
  height:0;
  overflow:hidden;
  transition:all .2s;
}

.programme li {
  border-bottom:1px solid #0A3E7B;
}

.programme li .head{
  cursor:pointer;
  font-size:1.3em;
  padding:10px 0 10px 0;
}

.programme li.revael .head{
  color:#0A3E7B;
}

.programme .head .composer{
  font-weight:bold;
}

.programme li .details{
  padding-bottom:10px;
}

.orchestra .fourcolumn{
  float:left;
  width:25%;
}

.orchestra ul{
  list-style-type:none;
  padding:0;
}

.orchestra ul li:hover{
  cursor:pointer;
  text-decoration:underline;
}

.orchestra ul li.instrument{
  font-weight:bold;
  margin-top:10px;
}

.orchestra ul li.instrument:hover{
  cursor:default;
  text-decoration:none;
}

.orchestra .orchpopup{
  overflow:auto;
  padding:10px 20px;
}

.orchestra .orchpopup .orchpopupclose{
  float:right;
  color:#ccc;
  cursor:pointer;
  margin:10px 0 20px 0;
}

.orchestra .orchpopup .orchpopupclose:hover{
  text-decoration:underline;
}

.orchestra .orchpopup .orchpopupname{
  margin:10px 0 20px 0;
}

.orchestra .orchpopup .orchpopupimg{
  float:left;
  background:#000;
  margin:0 10px 10px 0;
  max-width:350px;
  max-height:350px;
}

.aboutus .gallerypopup{
  width:900px;
  height:504px;
  padding-top:2px;
  background-color:#000;
}

.aboutus .showGallery{
  cursor:pointer;
}
