body{
  font-family:sans-serif;
}
/*
green:#7CB342 #fff
purple:#7E57C2 #fff
blue:#4285F4 #fff
orange:#F09300 #fff
*/


.logger{
  position:absolute;
  top:500px;
  left:20px;
  right:20px;
  height:100px;
  border:1px solid #000;
  background:#fff;
  overflow:scroll;
  z-index:99;
  padding:4px;
  display:none;
}

.pagecontainer{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  overflow:hidden;
}

.page{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
}

#page1{
  background:#4285F4;
  color:#fff;
}

#page2{
  background:#7CB342;
  color:#fff;
}

#page3{
  background:#7E57C2;
  color:#fff;
}

#page4{
  background:#F09300;
  color:#fff;
}


#sidepanelcover{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background:#000;
  /*opacity:0.4;*/
  opacity:0;
  z-index:2;
  display:none;
  color:#fff;
}

#sidepanel{
  position:absolute;
  top:0px;
  left:-300px;
  bottom:0px;
  width:300px;
  background:#f00;
  color:#000;
  z-index:3;
}

.showmenu{
  width:40px;
  height:40px;
  background:#000;
  color:#fff;
}
